<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- 본 페이지는 html 중복을 처리하는 기본적인 상속 페이지로 활용된다. -->
    <meta charset="UTF-8">

    <!-- title은 상속처에서 받아 온다. -->
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('crud.static', filename='style.css') }}" />
</head>
<body>
    <div>
        {% if current_user.is_authenticated %}
        <p>
            <span>{{ current_user.username }}</span> -
            <span><a href="{{ url_for('auth.logout') }}">로그아웃</a></span>
        </p>
        {% endif %}
    </div>
    <!-- 로그인 상태 확인용 코드 추가 p163 끝 -->
     
    <!-- content를 상속처에서 구현한다. -->
    {% block content %}{% endblock %}
</body>
</html>